### Site Settings ###
title               : Kishore
description         : >-
                      "I turn coffee :coffee: into code,
                      use tabs over spaces
                      and never broke production."
                      
                      I Think I Think Too Much !
baseurl             : ""                     # Change to empty quotesss if you are hosting your site at <your-username>.github.io directly
repository          : its-k/me_theme     # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : its-k/me_theme


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - documentation/partials/**                           # For Documentation Only


### Author Info ###
author:
  name              : Kishore
  image             : https://www.mockrabbit.com/wp-content/uploads/2018/12/Become-a-Full-Stack-Developers.jpg
#  behance           : your_username
# dribbble          : your_username
  email             : me@kishore.cc
  #facebook          : your_username
  github            : its-k
# gitlab            : your_username
 instagram         : its_kishore_here
# kaggle            : your_username
  linkedin          : kishoreb-b50354137
# medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
  twitter           : Kishore95054905
# vimeo             : your_username
# youtube           : your_channel_name


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name
  elements:                                             # For Documentation Only
    output: true                                        # For Documentation Only


### Disqus ###
disqus: your-short-name-disqus                          # Your website Shortname on disqus


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:                                              # For Documentation Only
      path: ""                                          # For Documentation Only
      type: "elements"                                  # For Documentation Only
    values:                                             # For Documentation Only
      layout: "element"                                 # For Documentation Only
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments

### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
